In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from statistics import mean

In [2]:
number_of_runs=5
significance_level=1.96 # for 95% ci
height = 6
font_size=14
rotation_degree =15

In [3]:

subgroup_FPR = os.path.join('./FPR/SubGroup_FPR')

## Sex

In [4]:
seed_19_sex = pd.read_csv(subgroup_FPR+"/run_19FPR_FNR_NF_sex.csv",index_col=0)
seed_31_sex = pd.read_csv(subgroup_FPR+"/run_31FPR_FNR_NF_sex.csv",index_col=0)
seed_38_sex = pd.read_csv(subgroup_FPR+"/run_38FPR_FNR_NF_sex.csv",index_col=0)
seed_47_sex = pd.read_csv(subgroup_FPR+"/run_47FPR_FNR_NF_sex.csv",index_col=0)
seed_77_sex = pd.read_csv(subgroup_FPR+"/run_77FPR_FNR_NF_sex.csv",index_col=0)
seed_77_sex.head(5)

     diseases    #M  FPR_M  FNR_M    #F  FPR_F  FNR_F
0  No Finding  8446  0.159  0.272  6329  0.203  0.187

In [5]:
sex_dataframes = [seed_19_sex, seed_31_sex, seed_38_sex, seed_47_sex, seed_77_sex]
result_sex = pd.concat(sex_dataframes)

result_sex_df = result_sex.describe()

In [6]:
print("FPR and FNR distribiution in sexes")
print(round(result_sex_df.loc['mean'],3))

FPR and FNR distribiution in sexes
#M       8446.000
FPR_M       0.161
FNR_M       0.274
#F       6329.000
FPR_F       0.197
FNR_F       0.192
Name: mean, dtype: float64

In [7]:
print("FPR and FNR distribiution in sex Confidence interval")
round(significance_level * result_sex_df.loc['std'] / np.sqrt(5),3)

FPR and FNR distribiution in sex Confidence interval

#M       0.000
FPR_M    0.009
FNR_M    0.012
#F       0.000
FPR_F    0.010
FNR_F    0.010
Name: std, dtype: float64

In [8]:
print("MIMIC: Mean FPR distribiution over sexes")
mean([result_sex_df.loc['mean']["FPR_F"], result_sex_df.loc['mean']["FPR_M"]])

MIMIC: Mean FPR distribiution over sexes

0.17880000000000001

In [9]:
sex = ['M','F' ]
fpr_fnr_sex_df = pd.DataFrame(sex, columns=["sex"])

In [10]:

def FiveRunSubgroup(factors, df_in, df_out):
    fpr = []
    fnr = []
    percent = []
    ci_fpr =[]
    ci_fnr =[]
    confI = significance_level * df_in.loc['std'] / np.sqrt(5)

    for fact in factors:
        percent.append(round(df_in.loc['mean']['#'+fact],3))
        fpr.append(round(df_in.loc['mean']['FPR_'+fact],3))
        fnr.append(round(df_in.loc['mean']['FNR_'+fact],3))
        ci_fpr.append(round(confI.loc['FPR_'+fact],3))
        ci_fnr.append(round(confI.loc['FNR_'+fact],3))

    df_out['#'] = percent
    df_out['FPR']=fpr
    df_out['CI_FPR']=ci_fpr

    df_out['FNR']=fnr
    df_out['CI_FNR']=ci_fnr

    return df_out

In [11]:
fpr_fnr_sex_df=FiveRunSubgroup(sex, result_sex_df, fpr_fnr_sex_df)
fpr_fnr_sex_df.to_csv(subgroup_FPR+'/Subgroup_FNR_FPR_Sex.csv',index=False)
fpr_fnr_sex_df

  sex       #    FPR  CI_FPR    FNR  CI_FNR
0   M  8446.0  0.161   0.009  0.274   0.012
1   F  6329.0  0.197   0.010  0.192   0.010

## Age

In [12]:
seed_19_age = pd.read_csv(subgroup_FPR+"/run_19FPR_FNR_NF_age.csv",index_col=0)
seed_31_age = pd.read_csv(subgroup_FPR+"/run_31FPR_FNR_NF_age.csv",index_col=0)
seed_38_age = pd.read_csv(subgroup_FPR+"/run_38FPR_FNR_NF_age.csv",index_col=0)
seed_47_age = pd.read_csv(subgroup_FPR+"/run_47FPR_FNR_NF_age.csv",index_col=0)
seed_77_age = pd.read_csv(subgroup_FPR+"/run_77FPR_FNR_NF_age.csv",index_col=0)
seed_77_age.head(5)

,diseases,#60-80,FPR_60-80,FNR_60-80,#40-60,FPR_40-60,FNR_40-60,#20-40,FPR_20-40,FNR_20-40,#80+,FPR_80+,FNR_80+,#0-20,FPR_0-20,FNR_0-20
0,No Finding,6753,0.152,0.304,4012,0.232,0.164,1168,0.253,0.114,2806,0.13,0.419,36,0.528,0.022

In [13]:
age_dataframes = [seed_19_age, seed_31_age, seed_38_age, seed_47_age, seed_77_age]
result_age_df= pd.concat(age_dataframes)

result_age_df = result_age_df.describe()

In [14]:
print("FPR distribiution in ages")
print(round(result_age_df.loc['mean'],3))

FPR distribiution in ages
#60-80       6753.000
FPR_60-80       0.153
FNR_60-80       0.306
#40-60       4012.000
FPR_40-60       0.229
FNR_40-60       0.166
#20-40       1168.000
FPR_20-40       0.243
FNR_20-40       0.117
#80+         2806.000
FPR_80+         0.126
FNR_80+         0.431
#0-20          36.000
FPR_0-20        0.539
FNR_0-20        0.030
Name: mean, dtype: float64

In [15]:
print("MIMIC: Mean FPR distribiution over ages")
mean([result_age_df.loc['mean']["FPR_60-80"], result_age_df.loc['mean']["FPR_40-60"],
      result_age_df.loc['mean']["FPR_20-40"], result_age_df.loc['mean']["FPR_0-20"],
      result_age_df.loc['mean']["FPR_80+"]])

MIMIC: Mean FPR distribiution over ages

0.25783999999999996

In [16]:
round(significance_level* result_age_df.loc['std'] / np.sqrt(5),3)

#60-80       0.000
FPR_60-80    0.009
FNR_60-80    0.014
#40-60       0.000
FPR_40-60    0.012
FNR_40-60    0.009
#20-40       0.000
FPR_20-40    0.012
FNR_20-40    0.008
#80+         0.000
FPR_80+      0.008
FNR_80+      0.013
#0-20        0.000
FPR_0-20     0.044
FNR_0-20     0.010
Name: std, dtype: float64

In [17]:
age = ['0-20','20-40','40-60','60-80','80+' ]
fpr_fnr_age_df = pd.DataFrame(age, columns=["Age"])

fpr_fnr_age_df=FiveRunSubgroup(age, result_age_df, fpr_fnr_age_df)
fpr_fnr_age_df.to_csv(subgroup_FPR+'/Subgrounp_FNR_FPR_Age.csv',index=False)
fpr_fnr_age_df

     Age       #    FPR  CI_FPR    FNR  CI_FNR
0   0-20    36.0  0.539   0.044  0.030   0.010
1  20-40  1168.0  0.243   0.012  0.117   0.008
2  40-60  4012.0  0.229   0.012  0.166   0.009
3  60-80  6753.0  0.153   0.009  0.306   0.014
4    80+  2806.0  0.126   0.008  0.431   0.013

## Race

In [18]:
seed_19_race = pd.read_csv(subgroup_FPR+"/run_19FPR_FNR_NF_race.csv",index_col=0)
seed_31_race = pd.read_csv(subgroup_FPR+"/run_31FPR_FNR_NF_race.csv",index_col=0)
seed_38_race = pd.read_csv(subgroup_FPR+"/run_38FPR_FNR_NF_race.csv",index_col=0)
seed_47_race = pd.read_csv(subgroup_FPR+"/run_47FPR_FNR_NF_race.csv",index_col=0)
seed_77_race = pd.read_csv(subgroup_FPR+"/run_77FPR_FNR_NF_race.csv",index_col=0)
seed_77_race.head(3)

,diseases,#White,FPR_White,FNR_White,#Black,FPR_Black,FNR_Black,#Hisp,FPR_Hisp,FNR_Hisp,#Other,FPR_Other,FNR_Other,#Asian,FPR_Asian,FNR_Asian,#American,FPR_American,FNR_American
0,No Finding,10279,0.162,0.255,2287,0.237,0.169,850,0.227,0.159,732,0.156,0.261,498,0.199,0.191,129,0.14,0.582

In [19]:
race_dataframes = [seed_19_race, seed_31_race, seed_38_race, seed_47_race, seed_77_race]
result_race= pd.concat(race_dataframes)

result_race_df =result_race.describe()

In [20]:
print("FPR distribiution in races")
print(round(result_race_df.loc['mean'],3))

FPR distribiution in races
#White          10279.000
FPR_White           0.161
FNR_White           0.259
#Black           2287.000
FPR_Black           0.234
FNR_Black           0.172
#Hisp             850.000
FPR_Hisp            0.227
FNR_Hisp            0.160
#Other            732.000
FPR_Other           0.151
FNR_Other           0.271
#Asian            498.000
FPR_Asian           0.196
FNR_Asian           0.196
#American         129.000
FPR_American        0.150
FNR_American        0.538
Name: mean, dtype: float64

In [21]:
round(significance_level * result_race_df.loc['std'] / np.sqrt(5),3)

#White          0.000
FPR_White       0.009
FNR_White       0.011
#Black          0.000
FPR_Black       0.014
FNR_Black       0.009
#Hisp           0.000
FPR_Hisp        0.011
FNR_Hisp        0.010
#Other          0.000
FPR_Other       0.009
FNR_Other       0.011
#Asian          0.000
FPR_Asian       0.007
FNR_Asian       0.014
#American       0.000
FPR_American    0.018
FNR_American    0.046
Name: std, dtype: float64

In [22]:
race = ['White','Black','Hisp','Other','Asian','American' ]
fpr_fpr_race_df = pd.DataFrame(race, columns=["Race"])

fpr_fpr_race_df=FiveRunSubgroup(race, result_race_df, fpr_fpr_race_df)
fpr_fpr_race_df.to_csv(subgroup_FPR+'/Subgroup_FNR_FPR_Race.csv',index=False)
fpr_fpr_race_df

       Race        #    FPR  CI_FPR    FNR  CI_FNR
0     White  10279.0  0.161   0.009  0.259   0.011
1     Black   2287.0  0.234   0.014  0.172   0.009
2      Hisp    850.0  0.227   0.011  0.160   0.010
3     Other    732.0  0.151   0.009  0.271   0.011
4     Asian    498.0  0.196   0.007  0.196   0.014
5  American    129.0  0.150   0.018  0.538   0.046

## Insurance

In [23]:
seed_19_insu = pd.read_csv(subgroup_FPR+"/run_19FPR_FNR_NF_insurance.csv",index_col=0)
seed_31_insu = pd.read_csv(subgroup_FPR+"/run_31FPR_FNR_NF_insurance.csv",index_col=0)
seed_38_insu = pd.read_csv(subgroup_FPR+"/run_38FPR_FNR_NF_insurance.csv",index_col=0)
seed_47_insu = pd.read_csv(subgroup_FPR+"/run_47FPR_FNR_NF_insurance.csv",index_col=0)
seed_77_insu = pd.read_csv(subgroup_FPR+"/run_77FPR_FNR_NF_insurance.csv",index_col=0)

In [24]:
insu_dataframes = [seed_19_insu, seed_31_insu, seed_38_insu, seed_47_insu, seed_77_insu]
result_insu= pd.concat(insu_dataframes)

result_insu_df =result_insu.describe()

In [25]:
print("FPR distribiution in races")
print(round(result_insu_df.loc['mean'],3))

FPR distribiution in races
#Medicare       7287.000
FPR_Medicare       0.160
FNR_Medicare       0.316
#Other          6356.000
FPR_Other          0.188
FNR_Other          0.186
#Medicaid       1132.000
FPR_Medicaid       0.218
FNR_Medicaid       0.170
Name: mean, dtype: float64

In [26]:
round(significance_level * result_insu_df.loc['std'] / np.sqrt(5),3)

#Medicare       0.000
FPR_Medicare    0.010
FNR_Medicare    0.015
#Other          0.000
FPR_Other       0.010
FNR_Other       0.007
#Medicaid       0.000
FPR_Medicaid    0.013
FNR_Medicaid    0.013
Name: std, dtype: float64

In [27]:
ConfI = 1.96 * result_insu_df.loc['std'] / np.sqrt(5)
ConfI.loc['FPR_Medicare']

0.009741022533594714

In [28]:
insurance = ['Medicare','Other','Medicaid' ]

fpr_fpr_insu_df = pd.DataFrame(insurance, columns=["Insurance"])

fpr_fpr_insu_df=FiveRunSubgroup(insurance, result_insu_df,fpr_fpr_insu_df)
fpr_fpr_insu_df.to_csv(subgroup_FPR+'/Subgroup_FNR_FPR_Insu.csv',index=False)

fpr_fpr_insu_df

  Insurance       #    FPR  CI_FPR    FNR  CI_FNR
0  Medicare  7287.0  0.160   0.010  0.316   0.015
1     Other  6356.0  0.188   0.010  0.186   0.007
2  Medicaid  1132.0  0.218   0.013  0.170   0.013

# Intersectional identity

## Age-Sex

In [29]:

twogroup_FPR="./FPR/Two_Group_Intersection_FPR"

In [30]:
seed_19_agesex = pd.read_csv(twogroup_FPR+"/run_19FP_AgeSex.csv")
seed_31_agesex= pd.read_csv(twogroup_FPR+"/run_31FP_AgeSex.csv")
seed_38_agesex = pd.read_csv(twogroup_FPR+"/run_38FP_AgeSex.csv")
seed_47_agesex = pd.read_csv(twogroup_FPR+"/run_47FP_AgeSex.csv")
seed_77_agesex = pd.read_csv(twogroup_FPR+"/run_77FP_AgeSex.csv")

fp_agesex =pd.concat([seed_19_agesex, seed_31_agesex,seed_38_agesex, seed_47_agesex,seed_77_agesex])
fp_agesex =fp_agesex.groupby("Age")
fp_agesex = fp_agesex.describe()

fp_agesex

      Unnamed: 0                                    FPR_M          ...         \
           count mean  std  min  25%  50%  75%  max count    mean  ...    75%
Age                                                                ...
0-20         5.0  4.0  0.0  4.0  4.0  4.0  4.0  4.0   5.0  0.5998  ...  0.583
20-40        5.0  2.0  0.0  2.0  2.0  2.0  2.0  2.0   5.0  0.2014  ...  0.207
40-60        5.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0   5.0  0.2034  ...  0.204
60-80        5.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   5.0  0.1388  ...  0.136
80+          5.0  3.0  0.0  3.0  3.0  3.0  3.0  3.0   5.0  0.1236  ...  0.124

             FPR_F
         max count    mean       std    min    25%    50%    75%    max
Age
0-20   0.667   5.0  0.5084  0.061622  0.417  0.500  0.500  0.542  0.583
20-40  0.216   5.0  0.3160  0.019339  0.291  0.301  0.322  0.329  0.337
40-60  0.225   5.0  0.2642  0.014533  0.250  0.254  0.260  0.271  0.286
60-80  0.157   5.0  0.1736  0.011082  0.163  0.166  0.171  0.177  0.191
80+    0.140   5.0  0.1274  0.010621  0.116  0.118  0.127  0.136  0.140

[5 rows x 24 columns]

In [31]:
round(fp_agesex['FPR_F']['mean'],3)

Age
0-20     0.508
20-40    0.316
40-60    0.264
60-80    0.174
80+      0.127
Name: mean, dtype: float64

In [32]:
round(significance_level * fp_agesex['FPR_F']["std"] / np.sqrt(5),3)

Age
0-20     0.054
20-40    0.017
40-60    0.013
60-80    0.010
80+      0.009
Name: std, dtype: float64

In [33]:
CI = round(significance_level * fp_agesex['FPR_F']["std"] / np.sqrt(5),3)

In [34]:
def FiveRun(factors,output_df,df):
  for factor in factors:
    fpr = round(df[factor]['mean'],3)
    confI = round(significance_level * df[factor]["std"] / np.sqrt(5),3)
    output_df[factor] = pd.DataFrame(fpr.values.tolist(),columns =[factor])
    output_df['CI_'+factor] = pd.DataFrame(confI.values.tolist(),columns =['CI_'+factor])

  return output_df

In [35]:
factors = ['FPR_F', 'FPR_M']
age =['0-20', '20-40', '40-60', '60-80','80-']
agesex_df = pd.DataFrame(age, columns=["Age"])

agesex_df = FiveRun(factors,agesex_df,fp_agesex)
agesex_df.to_csv(twogroup_FPR+'/Inter_AgeSex.csv',index=False)
agesex_df

     Age  FPR_F  CI_FPR_F  FPR_M  CI_FPR_M
0   0-20  0.508     0.054  0.600     0.033
1  20-40  0.316     0.017  0.201     0.011
2  40-60  0.264     0.013  0.203     0.012
3  60-80  0.174     0.010  0.139     0.009
4    80-  0.127     0.009  0.124     0.009

## Race- Sex

In [36]:
seed_19_race_sex = pd.read_csv(twogroup_FPR+"/run_19FP_RaceSex.csv")
seed_31_race_sex= pd.read_csv(twogroup_FPR+"/run_31FP_RaceSex.csv")
seed_38_race_sex = pd.read_csv(twogroup_FPR+"/run_38FP_RaceSex.csv")
seed_47_race_sex = pd.read_csv(twogroup_FPR+"/run_47FP_RaceSex.csv")
seed_77_race_sex = pd.read_csv(twogroup_FPR+"/run_77FP_RaceSex.csv")

fp_race_sex =pd.concat([seed_19_race_sex, seed_31_race_sex,seed_38_race_sex,
                       seed_47_race_sex,seed_77_race_sex])

fp_race_sex =fp_race_sex.groupby("race")
fp_race_sex = fp_race_sex.describe()

fp_race_sex

                              Unnamed: 0                                     \
                                   count mean  std  min  25%  50%  75%  max
race
AMERICAN INDIAN/ALASKA NATIVE        5.0  5.0  0.0  5.0  5.0  5.0  5.0  5.0
ASIAN                                5.0  4.0  0.0  4.0  4.0  4.0  4.0  4.0
BLACK/AFRICAN AMERICAN               5.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
HISPANIC/LATINO                      5.0  2.0  0.0  2.0  2.0  2.0  2.0  2.0
OTHER                                5.0  3.0  0.0  3.0  3.0  3.0  3.0  3.0
WHITE                                5.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

                              FPR_M          ...               FPR_F          \
                              count    mean  ...    75%    max count    mean
race                                         ...
AMERICAN INDIAN/ALASKA NATIVE   5.0  0.1488  ...  0.162  0.162   5.0  0.1526
ASIAN                           5.0  0.1448  ...  0.149  0.158   5.0  0.2896
BLACK/AFRICAN AMERICAN          5.0  0.1900  ...  0.188  0.220   5.0  0.2796
HISPANIC/LATINO                 5.0  0.2136  ...  0.213  0.232   5.0  0.2436
OTHER                           5.0  0.1402  ...  0.145  0.151   5.0  0.1622
WHITE                           5.0  0.1536  ...  0.153  0.171   5.0  0.1706


                                    std    min    25%    50%    75%    max
race
AMERICAN INDIAN/ALASKA NATIVE  0.039916  0.127  0.127  0.127  0.164  0.218
ASIAN                          0.009017  0.278  0.284  0.290  0.295  0.301
BLACK/AFRICAN AMERICAN         0.016861  0.268  0.268  0.268  0.289  0.305
HISPANIC/LATINO                0.012075  0.231  0.237  0.242  0.245  0.263
OTHER                          0.012950  0.150  0.153  0.156  0.173  0.179
WHITE                          0.010691  0.161  0.162  0.167  0.177  0.186

[6 rows x 24 columns]

In [37]:
factors = ['FPR_F', 'FPR_M']
race =['AMERICAN INDIAN/ALASKA NATIVE', 'ASIAN', 'BLACK/AFRICAN AMERICAN',
       'HISPANIC/LATINO','OTHER','WHITE']
RaceSex_df = pd.DataFrame(race, columns=["race"])

RaceSex_df = FiveRun(factors,RaceSex_df,fp_race_sex)
RaceSex_df.to_csv(twogroup_FPR+'/Inter_RaceSex.csv',index=False)
RaceSex_df

                            race  FPR_F  CI_FPR_F  FPR_M  CI_FPR_M
0  AMERICAN INDIAN/ALASKA NATIVE  0.153     0.035  0.149     0.014
1                          ASIAN  0.290     0.008  0.145     0.008
2         BLACK/AFRICAN AMERICAN  0.280     0.015  0.190     0.015
3                HISPANIC/LATINO  0.244     0.011  0.214     0.010
4                          OTHER  0.162     0.011  0.140     0.008
5                          WHITE  0.171     0.009  0.154     0.009

## Race-Age

In [38]:
seed_19_race_age = pd.read_csv(twogroup_FPR+"/run_19FP_RaceAge.csv")
seed_31_race_age= pd.read_csv(twogroup_FPR+"/run_31FP_RaceAge.csv")
seed_38_race_age = pd.read_csv(twogroup_FPR+"/run_38FP_RaceAge.csv")
seed_47_race_age = pd.read_csv(twogroup_FPR+"/run_47FP_RaceAge.csv")
seed_77_race_age = pd.read_csv(twogroup_FPR+"/run_77FP_RaceAge.csv")

fp_race_age =pd.concat([seed_19_race_age, seed_31_race_age,seed_38_race_age,
                       seed_47_race_age,seed_77_race_age])

fp_race_age =fp_race_age.groupby("age")
fp_race_age = fp_race_age.describe()
fp_race_age

      Unnamed: 0                                    FPR_White          ...  \
           count mean  std  min  25%  50%  75%  max     count    mean  ...
age                                                                    ...
0-20         5.0  4.0  0.0  4.0  4.0  4.0  4.0  4.0       5.0  0.6182  ...
20-40        5.0  2.0  0.0  2.0  2.0  2.0  2.0  2.0       5.0  0.2230  ...
40-60        5.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0       5.0  0.2094  ...
60-80        5.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0       5.0  0.1428  ...
80+          5.0  3.0  0.0  3.0  3.0  3.0  3.0  3.0       5.0  0.1218  ...

      FPR_Asian        FPR_American                                         \
            75%    max        count    mean       std    min    25%    50%
age
0-20        NaN    NaN          0.0     NaN       NaN    NaN    NaN    NaN
20-40     0.414  0.414          5.0  1.0000  0.000000  1.000  1.000  1.000
40-60     0.198  0.198          5.0  0.2100  0.028504  0.175  0.200  0.200
60-80     0.177  0.207          5.0  0.0346  0.011502  0.022  0.022  0.043
80+       0.192  0.202          5.0  0.0000  0.000000  0.000  0.000  0.000


         75%    max
age
0-20     NaN    NaN
20-40  1.000  1.000
40-60  0.225  0.250
60-80  0.043  0.043
80+    0.000  0.000

[5 rows x 56 columns]

In [39]:
round(significance_level * fp_race_age['FPR_White']["std"] / np.sqrt(5),3)

age
0-20     0.036
20-40    0.013
40-60    0.011
60-80    0.009
80+      0.008
Name: std, dtype: float64

In [40]:
factors = ['FPR_White', 'FPR_Black','FPR_Hisp','FPR_Other','FPR_Asian','FPR_American']
age =['0-20', '20-40', '40-60', '60-80','80-']
RaceAge_df = pd.DataFrame(age, columns=["age"])


RaceAge_df = FiveRun(factors,RaceAge_df,fp_race_age)
RaceAge_df.to_csv(twogroup_FPR+'/Inter_RaceAge.csv',index=False)
RaceAge_df

,age,FPR_White,CI_FPR_White,FPR_Black,CI_FPR_Black,FPR_Hisp,CI_FPR_Hisp,FPR_Other,CI_FPR_Other,FPR_Asian,CI_FPR_Asian,FPR_American,CI_FPR_American
0,0-20,0.618,0.036,1.000,0.000,0.100,0.049,0.800,0.124,NaN,NaN,NaN,NaN
1,20-40,0.223,0.013,0.263,0.022,0.262,0.008,0.241,0.006,0.366,0.041,1.000,0.000
2,40-60,0.209,0.011,0.293,0.017,0.320,0.021,0.167,0.011,0.192,0.005,0.210,0.025
3,60-80,0.143,0.009,0.217,0.013,0.168,0.006,0.116,0.005,0.177,0.015,0.035,0.010
4,80-,0.122,0.008,0.135,0.011,0.124,0.011,0.117,0.024,0.192,0.006,0.000,0.000

## Insurace -Sex

In [41]:
FP5_InsSex = pd.read_csv(twogroup_FPR+"/run_19FP_InsSex.csv")
FP4_InsSex = pd.read_csv(twogroup_FPR+"/run_31FP_InsSex.csv")
FP3_InsSex = pd.read_csv(twogroup_FPR+"/run_38FP_InsSex.csv")
FP2_InsSex = pd.read_csv(twogroup_FPR+"/run_47FP_InsSex.csv")
FP1_InsSex = pd.read_csv(twogroup_FPR+"/run_77FP_InsSex.csv")

FP_InsSex  =pd.concat([FP1_InsSex,FP2_InsSex, FP3_InsSex,FP4_InsSex, FP5_InsSex])
FP_InSx =FP_InsSex.groupby("Insurance")
FP_InSx_df = FP_InSx.describe()

In [42]:
FP_InSx_df

          Unnamed: 0                                    FPR_M          ...  \
               count mean  std  min  25%  50%  75%  max count    mean  ...
Insurance                                                              ...
Medicaid         5.0  2.0  0.0  2.0  2.0  2.0  2.0  2.0   5.0  0.2074  ...
Medicare         5.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   5.0  0.1524  ...
Other            5.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0   5.0  0.1624  ...

                        FPR_F                                                \
             75%    max count    mean       std    min    25%    50%    75%
Insurance
Medicaid   0.210  0.227   5.0  0.2330  0.017720  0.213  0.223  0.229  0.241
Medicare   0.150  0.174   5.0  0.1698  0.010134  0.161  0.163  0.166  0.173
Other      0.165  0.178   5.0  0.2222  0.013312  0.209  0.212  0.218  0.232


             max
Insurance
Medicaid   0.259
Medicare   0.186
Other      0.240

[3 rows x 24 columns]

In [43]:
round(FP_InSx_df['FPR_M']['mean'],3)

Insurance
Medicaid    0.207
Medicare    0.152
Other       0.162
Name: mean, dtype: float64

In [44]:
round(1.96 * FP_InSx_df['FPR_M']["std"] / np.sqrt(5),3)

Insurance
Medicaid    0.011
Medicare    0.011
Other       0.009
Name: std, dtype: float64

In [45]:
round(FP_InSx_df['FPR_F']['mean'],3)

Insurance
Medicaid    0.233
Medicare    0.170
Other       0.222
Name: mean, dtype: float64

In [46]:
CI=round(1.96 * FP_InSx_df['FPR_F']["std"] / np.sqrt(5),3)
CI.loc['Medicaid']

0.016

In [47]:
round(1.96 * FP_InSx_df['FPR_F']["std"] / np.sqrt(5),3)

Insurance
Medicaid    0.016
Medicare    0.009
Other       0.012
Name: std, dtype: float64

In [48]:
factors = ['FPR_F', 'FPR_M']
Insurance = ['Medicaid','Medicare','Other']
SexIns_df = pd.DataFrame(Insurance, columns=["Insurance"])

InsSex_df = FiveRun(factors,SexIns_df,FP_InSx_df)
InsSex_df.to_csv(twogroup_FPR+'/Inter_SexIns.csv',index=False)
InsSex_df

  Insurance  FPR_F  CI_FPR_F  FPR_M  CI_FPR_M
0  Medicaid  0.233     0.016  0.207     0.011
1  Medicare  0.170     0.009  0.152     0.011
2     Other  0.222     0.012  0.162     0.009

## Insurance-Race

In [49]:
FP5_InsRace = pd.read_csv(twogroup_FPR+"/run_19FP_InsRace.csv")
FP4_InsRace = pd.read_csv(twogroup_FPR+"/run_31FP_InsRace.csv")
FP3_InsRace = pd.read_csv(twogroup_FPR+"/run_38FP_InsRace.csv")
FP2_InsRace = pd.read_csv(twogroup_FPR+"/run_47FP_InsRace.csv")
FP1_InsRace = pd.read_csv(twogroup_FPR+"/run_77FP_InsRace.csv")

FP_InsRace  =pd.concat([FP1_InsRace,FP2_InsRace, FP3_InsRace,FP4_InsRace, FP5_InsRace])
FP_InsRace =FP_InsRace.groupby("race")
FP_InRa_df =FP_InsRace.describe()

In [50]:
factors = ['FPR_Medicare', 'FPR_Other','FPR_Medicaid']
race = ['AMERICAN INDIAN/ALASKA NATIVE','ASIAN','BLACK/AFRICAN AMERICAN','HISPANIC/LATINO','OTHER','WHITE']
InsRace_df = pd.DataFrame(race, columns=["race"])

InsRace_df = FiveRun(factors,InsRace_df,FP_InRa_df)
InsRace_df.to_csv(twogroup_FPR+'/Inter_RaceIns.csv',index=False)
InsRace_df

,race,FPR_Medicare,CI_FPR_Medicare,FPR_Other,CI_FPR_Other,FPR_Medicaid,CI_FPR_Medicaid
0,AMERICAN INDIAN/ALASKA NATIVE,0.160,0.021,0.085,0.028,0.143,0.000
1,ASIAN,0.172,0.018,0.192,0.007,0.228,0.007
2,BLACK/AFRICAN AMERICAN,0.190,0.014,0.265,0.014,0.322,0.022
3,HISPANIC/LATINO,0.223,0.012,0.216,0.009,0.271,0.018
4,OTHER,0.164,0.015,0.139,0.004,0.176,0.023
5,WHITE,0.150,0.009,0.173,0.010,0.168,0.011

## Insurance-Age

In [51]:
FP5_InsAge = pd.read_csv(twogroup_FPR+"/run_19FP_InsAge.csv")
FP4_InsAge = pd.read_csv(twogroup_FPR+"/run_31FP_InsAge.csv")
FP3_InsAge = pd.read_csv(twogroup_FPR+"/run_38FP_InsAge.csv")
FP2_InsAge = pd.read_csv(twogroup_FPR+"/run_47FP_InsAge.csv")
FP1_InsAge = pd.read_csv(twogroup_FPR+"/run_77FP_InsAge.csv")

FP_InsAge =pd.concat([FP1_InsAge,FP2_InsAge, FP3_InsAge,FP4_InsAge, FP5_InsAge])

FP_InsAge =FP_InsAge.groupby("age")
FP_InsAge_df =FP_InsAge.describe()

In [52]:
FP_InsAge_df

      Unnamed: 0                                    FPR_Medicare          ...  \
           count mean  std  min  25%  50%  75%  max        count    mean  ...
age                                                                       ...
0-20         5.0  4.0  0.0  4.0  4.0  4.0  4.0  4.0          0.0     NaN  ...
20-40        5.0  2.0  0.0  2.0  2.0  2.0  2.0  2.0          5.0  0.1826  ...
40-60        5.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0          5.0  0.2576  ...
60-80        5.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0          5.0  0.1482  ...
80+          5.0  3.0  0.0  3.0  3.0  3.0  3.0  3.0          5.0  0.1292  ...

      FPR_Other        FPR_Medicaid                                      \
            75%    max        count    mean           std    min    25%
age
0-20      0.543  0.600          5.0  1.0000  0.000000e+00  1.000  1.000
20-40     0.252  0.256          5.0  0.3104  2.008233e-02  0.282  0.299
40-60     0.220  0.236          5.0  0.2160  1.707337e-02  0.198  0.207
60-80     0.159  0.173          5.0  0.2132  1.181948e-02  0.202  0.207
80+       0.130  0.136          5.0  0.0570  7.757919e-18  0.057  0.057


         50%    75%    max
age
0-20   1.000  1.000  1.000
20-40  0.316  0.322  0.333
40-60  0.210  0.223  0.242
60-80  0.212  0.212  0.233
80+    0.057  0.057  0.057

[5 rows x 32 columns]

In [53]:
factors = ['FPR_Medicare', 'FPR_Other','FPR_Medicaid']
age = ['0-20','20-40','40-60','60-80','80-']
InsAge_df = pd.DataFrame(age, columns=["age"])

InsAge_df = FiveRun(factors,InsAge_df,FP_InsAge_df)
InsAge_df.to_csv(twogroup_FPR+'/Inter_AgeIns.csv',index=False)
InsAge_df

,age,FPR_Medicare,CI_FPR_Medicare,FPR_Other,CI_FPR_Other,FPR_Medicaid,CI_FPR_Medicaid
0,0-20,NaN,NaN,0.526,0.046,1.000,0.000
1,20-40,0.183,0.015,0.242,0.012,0.310,0.018
2,40-60,0.258,0.015,0.218,0.010,0.216,0.015
3,60-80,0.148,0.009,0.156,0.009,0.213,0.010
4,80-,0.129,0.009,0.124,0.008,0.057,0.000

## Race , age and sex

In [54]:
fpr_fnr_seed19=twogroup_FPR+"Seed_19/FPR/Three_Group_Intersection_FPR"
fpr_fnr_seed31=twogroup_FPR+"Seed_31/FPR/Three_Group_Intersection_FPR"
fpr_fnr_seed38=twogroup_FPR+"Seed_38/FPR/Three_Group_Intersection_FPR"
fpr_fnr_seed47=twogroup_FPR+"Seed_47/FPR/Three_Group_Intersection_FPR"
fpr_fnr_seed77=twogroup_FPR+"Seed_77/FPR/Three_Group_Intersection_FPR"

In [55]:
three_group_dir = './FPR/Three_Group_Intersection_FPR'

In [56]:
RaceAgeSex_19 = pd.read_csv(three_group_dir+"/run_19FP_RaceAgeSex.csv")
RaceAgeSex_31 = pd.read_csv(three_group_dir+"/run_31FP_RaceAgeSex.csv")
RaceAgeSex_38 = pd.read_csv(three_group_dir+"/run_38FP_RaceAgeSex.csv")
RaceAgeSex_47 = pd.read_csv(three_group_dir+"/run_47FP_RaceAgeSex.csv")
RaceAgeSex_77 = pd.read_csv(three_group_dir+"/run_77FP_RaceAgeSex.csv")

In [57]:

fp_race_age_sex_df =pd.concat([RaceAgeSex_19, RaceAgeSex_31,RaceAgeSex_38,
                       RaceAgeSex_47,RaceAgeSex_77])

fp_race_age_sex_df =fp_race_age_sex_df.groupby("race")
fp_race_age_sex_df = fp_race_age_sex_df.describe()
fp_race_age_sex_df

                              Unnamed: 0                                     \
                                   count mean  std  min  25%  50%  75%  max
race
AMERICAN INDIAN/ALASKA NATIVE        5.0  5.0  0.0  5.0  5.0  5.0  5.0  5.0
ASIAN                                5.0  4.0  0.0  4.0  4.0  4.0  4.0  4.0
BLACK/AFRICAN AMERICAN               5.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
HISPANIC/LATINO                      5.0  2.0  0.0  2.0  2.0  2.0  2.0  2.0
OTHER                                5.0  3.0  0.0  3.0  3.0  3.0  3.0  3.0
WHITE                                5.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

                              FPR_60_80_M          ... FPR_80+_F         \
                                    count    mean  ...       75%    max
race                                               ...
AMERICAN INDIAN/ALASKA NATIVE         5.0  0.0172  ...     0.000  0.000
ASIAN                                 5.0  0.1350  ...     0.444  0.444
BLACK/AFRICAN AMERICAN                5.0  0.1680  ...     0.184  0.189
HISPANIC/LATINO                       5.0  0.1634  ...     0.178  0.178
OTHER                                 5.0  0.1268  ...     0.143  0.163
WHITE                                 5.0  0.1350  ...     0.116  0.122

                              FPR_0_20_F                                  \
                                   count    mean       std    min    25%
race
AMERICAN INDIAN/ALASKA NATIVE        0.0     NaN       NaN    NaN    NaN
ASIAN                                0.0     NaN       NaN    NaN    NaN
BLACK/AFRICAN AMERICAN               0.0     NaN       NaN    NaN    NaN
HISPANIC/LATINO                      5.0  0.1000  0.055902  0.000  0.125
OTHER                                5.0  0.8000  0.141421  0.600  0.800
WHITE                                5.0  0.6724  0.049843  0.636  0.636


                                 50%    75%    max
race
AMERICAN INDIAN/ALASKA NATIVE    NaN    NaN    NaN
ASIAN                            NaN    NaN    NaN
BLACK/AFRICAN AMERICAN           NaN    NaN    NaN
HISPANIC/LATINO                0.125  0.125  0.125
OTHER                          0.800  0.800  1.000
WHITE                          0.636  0.727  0.727

[6 rows x 88 columns]

In [58]:
factors = ['FPR_60_80_M', 'FPR_40_60_M','FPR_20_40_M','FPR_80+_M','FPR_0_20_M','FPR_60_80_F',
           'FPR_40_60_F','FPR_20_40_F','FPR_80+_F','FPR_0_20_F']
race = ['AMERICAN INDIAN/ALASKA NATIVE','ASIAN','BLACK/AFRICAN AMERICAN','HISPANIC/LATINO','OTHER','WHITE']
RaceAgeSex_df = pd.DataFrame(race, columns=["race"])

RaceAgeSex_df = FiveRun(factors,RaceAgeSex_df,fp_race_age_sex_df)

RaceAgeSex_df.to_csv(three_group_dir+'/Inter_RaceAgeSex.csv')
RaceAgeSex_df

,race,FPR_60_80_M,CI_FPR_60_80_M,FPR_40_60_M,CI_FPR_40_60_M,FPR_20_40_M,CI_FPR_20_40_M,FPR_80+_M,CI_FPR_80+_M,FPR_0_20_M,...,FPR_60_80_F,CI_FPR_60_80_F,FPR_40_60_F,CI_FPR_40_60_F,FPR_20_40_F,CI_FPR_20_40_F,FPR_80+_F,CI_FPR_80+_F,FPR_0_20_F,CI_FPR_0_20_F
0,AMERICAN INDIAN/ALASKA NATIVE,0.017,0.021,0.192,0.016,1.000,0.000,NaN,NaN,NaN,...,0.052,0.017,0.240,0.052,NaN,NaN,0.000,0.000,NaN,NaN
1,ASIAN,0.135,0.014,0.194,0.007,0.083,0.000,0.105,0.007,NaN,...,0.269,0.026,0.188,0.006,0.565,0.069,0.422,0.029,NaN,NaN
2,BLACK/AFRICAN AMERICAN,0.168,0.013,0.267,0.019,0.176,0.021,0.080,0.012,1.000,...,0.272,0.014,0.320,0.017,0.412,0.028,0.171,0.015,NaN,NaN
3,HISPANIC/LATINO,0.163,0.008,0.281,0.020,0.228,0.010,0.048,0.000,NaN,...,0.173,0.005,0.380,0.024,0.423,0.000,0.160,0.016,0.100,0.049
4,OTHER,0.127,0.009,0.141,0.010,0.368,0.000,0.111,0.027,NaN,...,0.102,0.007,0.192,0.014,0.187,0.009,0.126,0.023,0.800,0.124
5,WHITE,0.135,0.009,0.187,0.011,0.198,0.011,0.134,0.008,0.563,...,0.154,0.009,0.247,0.011,0.268,0.017,0.110,0.008,0.672,0.044

## Insurance , Race and sex

In [59]:
RaceInsuSex_19 = pd.read_csv(three_group_dir+"/run_19FP_RaceInsSex.csv")
RaceInsuSex_31 = pd.read_csv(three_group_dir+"/run_31FP_RaceInsSex.csv")
RaceInsuSex_38 = pd.read_csv(three_group_dir+"/run_38FP_RaceInsSex.csv")
RaceInsuSex_47 = pd.read_csv(three_group_dir+"/run_47FP_RaceInsSex.csv")
RaceInsuSex_77 = pd.read_csv(three_group_dir+"/run_77FP_RaceInsSex.csv")

In [60]:
fp_race_insu_sex_df =pd.concat([RaceInsuSex_19, RaceInsuSex_31,RaceInsuSex_38,
                       RaceInsuSex_47,RaceInsuSex_77])

fp_race_insu_sex_df =fp_race_insu_sex_df.groupby("race")
fp_race_insu_sex_df = fp_race_insu_sex_df.describe()
fp_race_insu_sex_df

                              Unnamed: 0                                     \
                                   count mean  std  min  25%  50%  75%  max
race
AMERICAN INDIAN/ALASKA NATIVE        5.0  5.0  0.0  5.0  5.0  5.0  5.0  5.0
ASIAN                                5.0  4.0  0.0  4.0  4.0  4.0  4.0  4.0
BLACK/AFRICAN AMERICAN               5.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
HISPANIC/LATINO                      5.0  2.0  0.0  2.0  2.0  2.0  2.0  2.0
OTHER                                5.0  3.0  0.0  3.0  3.0  3.0  3.0  3.0
WHITE                                5.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

                              FPR_M_Medicare          ... FPR_M_Medicaid  \
                                       count    mean  ...            75%
race                                                  ...
AMERICAN INDIAN/ALASKA NATIVE            5.0  0.1590  ...            NaN
ASIAN                                    5.0  0.0686  ...          0.208
BLACK/AFRICAN AMERICAN                   5.0  0.1518  ...          0.388
HISPANIC/LATINO                          5.0  0.2140  ...          0.250
OTHER                                    5.0  0.1864  ...          0.312
WHITE                                    5.0  0.1498  ...          0.150

                                     FPR_F_Medicaid                           \
                                 max          count    mean       std    min
race
AMERICAN INDIAN/ALASKA NATIVE    NaN            5.0  0.1430  0.000000  0.143
ASIAN                          0.208            5.0  0.5270  0.040249  0.455
BLACK/AFRICAN AMERICAN         0.449            5.0  0.2736  0.021232  0.254
HISPANIC/LATINO                0.263            5.0  0.3206  0.031620  0.292
OTHER                          0.312            5.0  0.1520  0.027911  0.120
WHITE                          0.159            5.0  0.2058  0.019331  0.173


                                 25%    50%    75%    max
race
AMERICAN INDIAN/ALASKA NATIVE  0.143  0.143  0.143  0.143
ASIAN                          0.545  0.545  0.545  0.545
BLACK/AFRICAN AMERICAN         0.261  0.261  0.289  0.303
HISPANIC/LATINO                0.312  0.312  0.312  0.375
OTHER                          0.133  0.145  0.181  0.181
WHITE                          0.209  0.209  0.214  0.224

[6 rows x 56 columns]

In [61]:
factors = ['FPR_M_Medicare', 'FPR_M_Other','FPR_M_Medicaid','FPR_F_Medicare','FPR_F_other','FPR_F_Medicaid']
race = ['WHITE','BLACK/AFRICAN AMERICAN','HISPANIC/LATINO','OTHER','ASIAN','AMERICAN INDIAN/ALASKA NATIVE']
RaceInsuSex_df = pd.DataFrame(race, columns=["race"])

RaceInsuSex_df = FiveRun(factors,RaceInsuSex_df,fp_race_insu_sex_df)

RaceInsuSex_df.to_csv(three_group_dir+'/Inter_RaceInsuSex.csv')
RaceInsuSex_df

,race,FPR_M_Medicare,CI_FPR_M_Medicare,FPR_M_Other,CI_FPR_M_Other,FPR_M_Medicaid,CI_FPR_M_Medicaid,FPR_F_Medicare,CI_FPR_F_Medicare,FPR_F_other,CI_FPR_F_other,FPR_F_Medicaid,CI_FPR_F_Medicaid
0,WHITE,0.159,0.017,0.091,0.000,NaN,NaN,0.163,0.041,0.067,0.131,0.143,0.000
1,BLACK/AFRICAN AMERICAN,0.069,0.012,0.149,0.007,0.196,0.010,0.370,0.033,0.243,0.008,0.527,0.035
2,HISPANIC/LATINO,0.152,0.015,0.197,0.014,0.394,0.028,0.234,0.014,0.334,0.015,0.274,0.019
3,OTHER,0.214,0.016,0.205,0.010,0.240,0.015,0.234,0.010,0.231,0.010,0.321,0.028
4,ASIAN,0.186,0.022,0.103,0.003,0.300,0.024,0.117,0.007,0.181,0.009,0.152,0.024
5,AMERICAN INDIAN/ALASKA NATIVE,0.150,0.010,0.159,0.009,0.147,0.008,0.150,0.008,0.195,0.012,0.206,0.017